{% load staticfiles %}
<html>
    <head>
    <title>Erick Karani blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
       
    </head>
    <body>
        <header>
            <nav>
                <li><a href="{% url 'blog.views.post_new' %}" class ="top-menu"><span class = "glyphicon glyphicon-plus"></span>New Post</a></li>

            </nav>
    
            <hgroup>
        <h1><a href="/">Erick Karani Blog</a></h1>
        <h2>Stay Hungry, Stay foolish</h2>
    </hgroup>
    
    </header>
    
    <div class="content container">
        <div class="row">
            <div class="col-md-8">

         {% block content %} <!--You just created a block to insert HTML in other templates that extend base.html-->
            {% endblock %}
            </div>
        </div>
    </div>
    <footer>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
    
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
  <p class="copyright">Copyright © 2015 Erick Karani</p>
</footer>

    </body>
</html>
